[submodule "catkin_devel/src/ros_biomech"]
	path = catkin_devel/src/ros_biomech
	url = git@github.com:fbkl/rbm_vis_ws.git
	branch = devel-all
[submodule "Data/refdata"]
	path = Data/refdata
	url = https://github.com/opensimrt-ros/refdata.git
[submodule "catkin_devel/src/tmux_launch"]
	path = catkin_devel/src/tmux_launch
	url = https://github.com/frederico-klein/tmux_launch.git
[submodule "opensim_docker"]
	path = opensim_docker
	url = https://github.com/opensimrt-ros/opensim_docker.git
	pushurl = git@github.com:opensimrt-ros/opensim_docker.git
[submodule "vim"]
	path = vim
	url = git@github.com:fbkl/vim.git
[submodule "catkin_ws/src/opensimrt_msgs"]
	path = catkin_ws/src/opensimrt_msgs
	url = https://github.com/opensimrt-ros/opensimrt_msgs.git
[submodule "catkin_ws/src/opensimrt_bridge"]
	path = catkin_ws/src/opensimrt_bridge
	url = https://github.com/fbkl/opensimrt_bridge.git
	pushurl = git@github.com:fbkl/opensimrt_bridge.git
[submodule "catkin_ws/src/opensimrt_core"]
	path = catkin_ws/src/opensimrt_core
	url = https://github.com/fbkl/opensimrt_core.git
	pushurl = git@github.com:fbkl/opensimrt_core.git
